# Enter primary database's URL
# Drizzle ORM automatically detects schema differences and migrate it.
DATABASE_URL=postgresql://user:password@host:port/dbname

# Enter which domain user connect from
# This must be exactly equivalent to user's "Origin" request header
# Ex: http://mail.example.com:1234
ORIGIN=""

# Enter auth secret for Better Auth
# For production use 32 characters and generated with high entropy
# https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=""

### OPTIONAL but recommanded

# # IMAP
# IMAP_HOST=""
# IMAP_PORT="993"
# IMAP_SECURE="true"
# IMAP_USER=""
# IMAP_PASSWORD=""
# IMAP_MAILBOX="INBOX"
# IMAP_POLL_SECONDS="15"

# # SMTP
# SMTP_HOST=""
# SMTP_PORT="587"
# SMTP_SECURE="false"
# SMTP_USER=""
# SMTP_PASSWORD=""
# SMTP_FROM=""

# # OIDC
# OIDC_DISCOVERY_URL=""
# OIDC_CLIENT_ID=""
# OIDC_CLIENT_SECRET=""

# # OpenAI
# OPENAI_API_KEY=""
# OPENAI_MODEL="gpt-4.1-mini"
